<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport"
        content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>비밀번호 찾기</title>
    <meta property="og:locale" content="ko_KR" />
    <!--    <link rel="apple-touch-icon" sizes="180x180" href="../assets/images/favi/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favi/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favi/favicon-16x16.png">
    <link rel="shortcut icon" href="../assets/images/favi/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../assets/images/favi/favicon.ico" type="image/x-icon">-->
    <link rel="shortcut icon" href="../assets/images/favi/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../assets/styles/icon.css">
    <link rel="stylesheet" href="../assets/styles/common.css">
    <link rel="stylesheet" href="../assets/styles/style.css">

    <script src="../assets/scripts/jqery-3.5.1.min.js"></script>
    <script src="../assets/scripts/common.js"></script>
    
    
</head>

<body>
    <header id="header"></header>
    <div class="main_wrap">
        <div class="main_cnt">
            <div class="login_sec">
                <div class="recs">
                    <div class="bg_circle green cir1"></div>
                    <div class="bg_circle blue cir2"></div>
                    <div class="bg_circle try1"><img src="../assets/images/bg_try.png"></div>
                </div>
                <div class="main_tit top_tit" style="margin-top:70px;">이메일 조회</div><br>
                <div class="all_box dib">
                    <div class="lg_bar">
                        <input type="text" class="idbar" placeholder="이메일"><br>
                        <div class="lg_txt">이메일을 입력하세요.</div>
                    </div>
                    <br>
                    <a href="#"><div class="m_btn dib fn_em" style="margin-top: 60px;">조회하기</div></a>
                    <br>
                    <div class="war_txt fn_pw" style="color: var(--main-txt-col); display: none;">존재하는 이메일 입니다. <a href="/datacorp/views/find_pw.html" style="font-weight: bold; color: var(--main-col);"><u>비밀번호를 찾으시겠습니까?</u></a></div>
                    <div class="war_txt fn_pw" style="color: red;display: none;">존재하지 않는 이메일 입니다.<a href="/datacorp/views/login.html" style="font-weight: bold; color: var(--main-txt-col);"><u>회원가입</u></a></div>
                </div>
                
            </div>
        </div>
        <header id="footer"></header>
    </div>
    
    
    
 
</body>
<script>
    $(document).ready(function(){
        $("#header").load("./include/header.html");
        $("#footer").load("./include/footer.html");
    });
</script>
<script>
    $(function() {
        $(".fn_em").click(function () {
            $(".fn_pw").toggleClass("show");
        });
    });
</script>
</html>


