<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport"
        content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>이미지 증강</title>
    <meta property="og:locale" content="ko_KR" />
    <!--    <link rel="apple-touch-icon" sizes="180x180" href="../assets/images/favi/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favi/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favi/favicon-16x16.png">
    <link rel="shortcut icon" href="../assets/images/favi/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../assets/images/favi/favicon.ico" type="image/x-icon">-->
    <link rel="shortcut icon" href="../assets/images/favi/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../assets/styles/icon.css">
    <link rel="stylesheet" href="../assets/styles/common.css">
    <link rel="stylesheet" href="../assets/styles/style.css">

    <script src="../assets/scripts/jqery-3.5.1.min.js"></script>
    <script src="../assets/scripts/common.js"></script>
    <script src="../assets/scripts/popup.js"></script>
    
    
</head>

<body>
    <header id="header"></header>
    <div class="main_wrap">
        <div class="main_cnt">
            <div class="augimg_sec">
                <div class="recs">
                    <div class="bg_circle green cir1"></div>
                    <div class="bg_circle blue cir2"></div>
                    <div class="bg_circle try1"><img src="../assets/images/bg_try.png"></div>
                </div>
                <div class="main_tit top_tit" style="margin-top:70px;">원하는 수량만큼<br>이미지를 늘려보세요.</div><br>
                <div class="all_box2 dib" style="width:500px; height:500px; margin-top:60px;">
                    <img src="../assets/images/dog.png" width="240px" height="auto" style="margin-top:40px;">
                    <div style="color: var(--main-col); font-size: 22px; font-weight: bold;">이 이미지를</div>
                    <table class="radio_wrap dib" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <label class="radio_tit"><input type="radio" name="sel_img_aug" class="radio_top_r">10장으로</label>
                                <br>
                                <div class="radio_cost dib">(1 credit)</div>
                            </td>
                            <td>
                                <label class="radio_tit"><input type="radio" name="sel_img_aug" class="radio_top_r">30장으로</label>
                                <br>
                                <div class="radio_cost dib">(3 credit)</div>
                            </td>
                            <td>
                                <label class="radio_tit"><input type="radio" name="sel_img_aug" class="radio_top_r">50장으로</label>
                                <br>
                                <div class="radio_cost dib">(5 credit)</div>
                            </td>
                            <td>
                                <label class="radio_tit"><input type="radio" name="sel_img_aug" class="radio_top_r">100장으로</label>
                                <br>
                                <div class="radio_cost dib">(10 credit)</div>
                            </td>
                        </tr> 
                    </table>
                    <div class="btn_wrap dib" style="margin-top: 30px;">
                        <a href="#"><div class="m_btn dib" style="background: #8F8F8F;">사진선택</div></a>
                        <a href="../views/img_aug_start.html"><div class="m_btn dib"style="margin-left:40px;">실행하기</div></a>
                    </div>
                </div>
            </div>
        </div>
        <header id="footer"></header>
    </div>
    
    
    
 
</body>
<script>
    $(document).ready(function(){
        $("#header").load("./include/header.html");
        $("#footer").load("./include/footer.html");
    });
</script>

<script>
   $(document).ready(function() { 
        $('input:radio[name=sel_img_aug]').on('click', function() { 

            $('input:radio[name=sel_img_aug]').parent('label').removeClass( "chked" );

            if ( $(this).attr('checked', true)) { 
                 $(this).parent('label').addClass( "chked" );
                 }
            }); 
        }); 
</script>
</html>


