<script src="../../assets/scripts/jqery-3.5.1.min.js"></script>
<script src="../../assets/scripts/common.js"></script>

<div class="header">
    <div class="sec_wrap">
        <div class="left_sec">
            <a href="/datacorp/views/main.html" class="ptpt_logo">
                <div class="icon_b pt_logo"></div>
            </a>
            <div class="ver_line"></div>
            <div class="dropdown">
                <button onclick="dp_menu()" class="button">어플리케이션<div class="icon_b ic_ggs"></div></button>
                <div style="display: none;" id="drop-content">
                    <a href='/datacorp/views/img_aug.html'>이미지 증강</a>
                    <a href='#'>준비중</a>
                    <a href='#'>준비중</a>
                    <a href='#'>준비중</a>
                    <a href='#'>준비중</a>
                </div>
            </div>
        </div>
        <div class="right_sec">
            <a href="/datacorp/views/price_list.html" class="da"><div class="icon_b ic_dollar"></div></a>
            <a href="/datacorp/views/img_aug.html" class="sa"><div class="s_cut">이미지 증강 바로가기</div></a>
            <a href="/datacorp/views/login.html" class="pa"><div class="icon_b ic_profile_btn ipb"></div></a>
        </div>
    </div>
    
    
    
    
</div>
<div class="header2">
    <a href="/datacorp/views/main.html" class="ptpt_logo_s">
        <div class="icon_b pt_logo_s_w" style=""></div>
    </a>
    <a href="/datacorp/views/main.html" class="ptpt_logo_txt">
        <div class="icon_b pt_logo_txt_w" style=""></div>
    </a>
    <div class="dropdown dd2" style="position:absolute;">
        <button onclick="dp_menu2()" class="button" style=" color: #fff;">어플리케이션<div class="icon_b ic_ggs"></div></button>
        <div style="display: none;" id="drop-content2">
            <a href='../../views/img_aug.html'>이미지 증강</a>
            <a href='#'>준비중</a>
            <a href='#'>준비중</a>
            <a href='#'>준비중</a>
            <a href='#'>준비중</a>
        </div>
    </div>
    <nav>       
        <div class="menu">
            <span class="hamburger"></span>
            <span class="hamburger"></span>
            <span class="hamburger"></span>
        </div>
        <ul>
            <li><a href="/datacorp/views/login.html">마이페이지</a></li>
            <li><a href="/datacorp/views/price_list.html">결제</a></li>
            <li><a href="/datacorp/views/img_aug.html">이미지증강</a></li>
        </ul>
    </nav>
   <!-- <div class="right_sec">
        <a href="../../views/price_list.html" class="da"><div class="icon_b ic_dollar_w"></div></a>
        <a href="../../views/img_aug.html" class="sa"><div class="s_cut">이미지 증강 바로가기</div></a>
        <a href="../../views/login.html" class="pa"><div class="icon_b ic_profile_btn ipb"></div></a>
    </div>-->
</div>
<script>
    function dp_menu(){
        $(".ic_ggs").toggleClass("reflect_u");
        let click = document.getElementById("drop-content");
        if(click.style.display === "none"){
            click.style.display = "block";

        }else{
            click.style.display = "none";

        }
    }
</script>
<script>
    function dp_menu2(){
        $(".ic_ggs").toggleClass("reflect_u");
        let click = document.getElementById("drop-content2");
        if(click.style.display === "none"){
            click.style.display = "block";

        }else{
            click.style.display = "none";

        }
    }
</script>
<script>
    var app = {
    datas : {
        check : 0
    },
    init:function(){
        app.set();
        app.eventListener();
    },
    set:function(){
        app.hamburger = $(".hamburger");
        app.ul = $("nav ul");
    },
    eventListener:function(){
        $(".menu").on("click",function(){
            if(app.datas.check == 0){
                $(".ham_ul").css({"display":"inherit"});
                app.ul.css({"right":"0"});
                $(this).css({"background-color":"#fff"})
                app.hamburger.eq(0).css({"transform":"rotate(60deg)","top":"45%","width":"20px","margin-left":"-10px","background-color":"#2C557A"});    
                app.hamburger.eq(1).css({"transform":"scale(0,0)"});    
                app.hamburger.eq(2).css({"transform":"rotate(120deg)","top":"45%","width":"20px","margin-left":"-10px","background-color":"#2C557A"});
                
                app.datas.check = 1;
            }else{
                app.ul.css({"right":"-100%"});
                $(".ham_ul").css({"display":"none"});
                $(this).css({"margin-left":"0px"});
                $(this).attr({"style": ""});
                app.hamburger.attr({"style" : ""});
                app.datas.check = 0;
            }
            
        });
    }
}
app.init();
</script>
