
body{
    position: relative;
    font-size: 15px;

    font-family: 'Noto Sans KR', sans-serif;

    color: #222;
    max-height: 100%;
    max-width: 100%;
    overflow-x: hidden; /* Hide scrollbars */

}
textarea{
    position: relative;
    font-size: 15px;

    font-family: 'Noto Sans KR', sans-serif;

    color: #222;
    max-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
textarea:focus {
    outline: none;
}
:root{
    --main-col:#2C557A;
    --main-txt-col: #23262F;
}
* {

    margin: 0;

    padding: 0;

    word-break: keep-all;

}


.reflect_u{
    transform:scaleY(1);
    transition:.3s; 
}
.reflect{
    transform:rotate(180deg);
    transition:.3s; 
}
div{

    box-sizing: border-box;

}



h1,

h2,

h3,

h4,

h5,

h6 {

    margin: 0;

    padding: 0;

    color: inherit;

    font-family: inherit;

    font-weight: 500;

}



h2{

    font-size: 22px;

}



h3{

    font-size: 18px;

}



h4{

    font-size: 15px;

}



p{

    font-family: inherit;

    color: inherit;   

    font-size: inherit;

}



div{

    box-sizing: border-box;

}



ul,

li {

    margin: 0;

    padding: 0;

    list-style: none;

    box-sizing: border-box;

}



a{

    outline: none;

    text-decoration: none;

    font-family: inherit;

    color: inherit;

    font-family: inherit;

    box-sizing: border-box;

    text-align: center;

}



/* form */



form{



}



fieldset{

    border: none;

}
img{
    display: inline-block;
}


button,

input {


    background: none;

    border: 0;

    cursor: pointer;

    outline: none;

    font-family: inherit;

    box-sizing: border-box;

    font-size: inherit;

    font-family: inherit;

    box-sizing: border-box;

    border-radius:0;

    box-shadow: none;

}



input{

    border-bottom:1px solid #eee;

}



input::placeholder{

    color:#999;

    font-weight: 400;

}

/*------------default------------*/
/*---------------팝업------------------*/
.popup_wrap{
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: 9999;
    position: fixed;
    text-align: center;
}
.popup_wrap4{
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .0);
    z-index: 9999;
    position: fixed;
    text-align: center;
}
.popup_wrap3{
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: 9999;
    position: fixed;
    text-align: center;
}
.popup_wrap2{
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: 997;
    position: fixed;
    text-align: center;
}
.popup_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    border: 1px solid #cdcdcd;
    background-color: #fcfcfc; 
    border-radius: 10px;
}

.ic_popup{
    margin-top: 70px;
}
.pop_txt{
    color: var(--main-col);
    font-weight: bold;
    margin-top: 30px;
}
.pop_sub_txt{
    margin-top: 5px;
}
.ic_close{position: absolute; top: -17px;right: -17px; cursor: pointer;}
/*----------------------------------*/
.show{
    display: inherit!important;
}
.hidden{
    display: none;
}
.sec_default{
    position: relative;
    min-height: 600px;
    height: 800px;
    max-height: 1000px;
    width: 100%;
    padding-left: 165px;
    padding-right: 165px;
    text-align: center;
    
}
.sub_tit{
    position: relative;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 7px;
    color: var(--main-col);
}
.sub_txt{
    color: #494949;
    font-size: 13px;
    margin-top: 10px;
}
.top_tit{
    position: relative;
    z-index: 999;
    margin-top: 30px;
}
.main_tit{
    position: relative;
    z-index: 999;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
}
.m_top_txt{
    position: absolute;
    cursor:pointer; 
    line-height: 27px;
    left: 60px;
    padding-top: 10px;
    z-index: 999;
    font-size: 20px;
    color: #08164B;
    font-weight: bold;
}
.m_btn{
    background: var(--main-col);
    width: 150px;
    height: 40px;
    font-weight: bold;
    line-height: 38px;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
}
.box{background: #FBFBFB; border: 1px solid #CDCDCD; border-radius: 20px;}
.mc{background: var(--main-col);}
.main_cnt{position: relative; z-index: 888;}
.dib{display: inline-block;}
.m_bg{background: #FBFBFB;}
.box_bg{background: #FBFBFB;}

/*---------이미지 업로드----------*/
.img_popup_wrap{
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: 9999;
    position: fixed;
    text-align: center;
    
}
.up_img_tit{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 50px;
    font-weight: bold;
}
.up_img_tit span{
    font-size: 30px;
    font-weight: normal;
}

/*------------default margin/padding------------*/
